<%= form_for(organisation) do |f| %>
<% if organisation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

    <ul>
      <% organisation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
            <div class="field">
        <%= f.label :address %><br>
        <%= f.text_area :address, class: 'tinymce' %>
      </div>
            <div class="field">
        <%= f.label :postcode %><br>
        <%= f.text_field :postcode %>
      </div>
            <div class="field">
        <%= f.label :organisation_type %><br>
        <%= f.text_field :organisation_type %>
      </div>
            <div class="field">
        <%= f.label :phone %><br>
        <%= f.text_field :phone %>
      </div>
            <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
            <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website %>
      </div>
          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      
          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
