<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= organisation_presenter.id %>">
  <div class="large-1 small-2 columns" data-equalizer-watch="module-list">
    <%= organisation_presenter.detail_toggle_link %>
  </div>

  <div class="large-8 small-6 columns" data-equalizer-watch="module-list">
    <%= organisation_presenter.name %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= organisation_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= organisation_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= organisation_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= organisation_presenter.id %>">
    <div class="small-12 columns module-list-summary last">

    </div>
  </div>
</div>
