<%= content_for :hero_content do %>
  <h1>News</h1>
<% end %>
<%= content_for :hero_image do %>
  <%= image_tag 'layout/content/placeholder-bg.jpg', alt: '' %>
<% end %>

<%= render partial: 'shared/hero_banner', locals: { presented_item: @page } %>

<div class="row">
  <div class="small-12 columns">
    <% unless @presented_articles.blank? %>
      <%= render partial: "article", collection: @presented_articles, as: :article_presenter %>
    <% else %>
      <p>
        Currently no articles
      </p>
    <% end %>
  </div>
</div>
