<%= content_for :hero_content do %>
  <h1><%= @presented_article.title %></h1>
<% end %>

<%= render partial: 'shared/hero_banner', locals: { presented_item: @presented_article } %>

<div class="row">
  <div class="small-12 columns">
    <h1><%= @presented_article.title %></h1>

    <%= @presented_article.show_image %>
    <%= @presented_article.content %>
  </div>
</div>
