<div class="large-4 small-12 <%= cycle('first', 'middle', 'last') %> columns">
  <div class="<%= target_group_presenter.colour %> text-center">
    <p data-equalizer-watch="audience-categorisation"><%= target_group_presenter.name %></p>

    <%= target_group_presenter.overview_link %>
    <%= target_group_presenter.resources_link %>
  </div>
</div>
