<%= content_for :hero_content do %>
  <h1><%= @presented_target_group.name %></h1>
<% end %>
<%= content_for :hero_image do %>
  <%= @presented_target_group.background_image %>
<% end %>

<%= render partial: 'shared/hero_banner' %>

<div class="row">
  <div class="small-8 columns">
    <% unless @presented_resources.blank? %>
      <%= render partial: 'resources/resource', collection: @presented_resources, as: :resource_presenter %>
    <% else %>
      <p>
        No resources found
      </p>
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= render partial: "resources/associated_resources", locals: { presented_resources: @presented_related_resources, title: "Related Resources" } if @presented__related_resources %>
    <%= render partial: "resources/associated_articles", locals: { presented_articles: @presented_articles } if @presented_articles %>
  </div>
</div>