<div class="organisation">
  <h3 class="associated-title">
    <%= presented_organisation.name %>
  </h3>

  <ul class="list-style-none">
    <li><%= presented_organisation.email %></li>
    <li><%= presented_organisation.phone %></li>
    <li><%= presented_organisation.website %></li>
  </ul>

  <% if presented_organisation.has_address? %>
    <div class="location">
      <%= presented_organisation.address %>
      <%= presented_organisation.postcode %>
    </div>
  <% end %>
</div>
