<%= render 'optimadmin/shared/header/main_title', title: 'Manage Sub Categories' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'SubCategory', object: SubCategory, path: new_sub_category_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @sub_categories.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-6 small-8' do 'Title' end %>

    <%= list_item 'large-2 hide-for-medium-down' do 'Category' end %>

    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'sub_category', collection: @sub_categories, as: :sub_category_presenter %>
  <%= paginate @sub_categories %>
</div>
