<%= content_for :hero_content do %>
  <h1>Resource Search</h1>
<% end %>
<%= content_for :hero_image do %>
  <%= image_tag 'layout/content/placeholder-bg.jpg', alt: '' %>
<% end %>

<%= render partial: 'shared/hero_banner' %>

<div class="row">
  <div class="small-12 large-4 columns">
    <%= render partial: 'resources/search_form' %>
  </div>
  <div class="small-12 large-8 columns">
    <% unless @presented_resources.blank? %>
      <%= render partial: 'resources/resource', collection: @presented_resources, as: :resource_presenter %>
      <%= paginate @resources %>
    <% else %>
      <p>
        No resources found
      </p>
    <% end %>
  </div>
</div>
