<div class="row">
  <div class="small-12 columns">
    <div class="search-container">
      <div class="row">
        <div class="small-12 large-8 large-centered columns">
          <p>
            Find support and advice for people affected by dementia in the Hull &amp; Humber area.
          </p>

          <%= form_for @resource_search, method: :get, url: resources_path do |f| %>
            <%= f.text_field :keywords, placeholder: 'Enter search terms', class: 'search-input' %>
            <%= f.submit "Search", class: 'search-button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row audience-categorisation" data-equalizer="audience-categorisation">
  <%= render partial: 'target_groups/target_group', collection: @target_groups, as: :target_group %>
</div>


<% if @presented_categories.present? %>
  <div class="row">
    <%= render partial: 'categories/home_page', collection: @presented_categories, as: :category_presenter %>
  </div>
<% end %>
