
<footer class="row" data-equalizer="footer">
  <div class="small-12 large-4 columns" data-equalizer-watch="footer">
    <% if twitter_timeline_text.present? %>
      <h2 class="twitter-title">
        &ldquo;Tweet

        <span>
          tweet&rdquo;
        </span>
      </h2>

      <div class="row collapse">
        <div class="medium-2 hide-for-small text-center columns">
          <%= link_to global_site_settings['Twitter'] do %>
            <%= image_tag 'components/icons/twitter-small.png', alt: '' %>
          <% end %>
        </div>

          <div class="medium-10 small-12 columns">
            <p class="tweet">
              <%= raw twitter_timeline_text %>
            </p>
          </div>
      </div>
    <% end %>
  </div>

  <div class="small-12 large-4 columns footer-articles text-center" data-equalizer-watch="footer">
    <% if @presented_article.present? %>
      <div class="inner">
        <h2>News <span>Articles</span></h2>

        <div class="footer-article">
          <div class="title">
            <%= @presented_article.linked_title %>
          </div>

          <div class="summary">
            <%= @presented_article.summary %>
          </div>

          <%= @presented_article.read_more('Full Article <span>></span>'.html_safe, class: 'read-more') %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="small-12 large-4 columns text-center" data-equalizer-watch="footer">
    Video.
  </div>


  <div class="row">
    <div class="large-12 columns">
      <hr class="divider" />

      <div class="footer-information">
        <span class="copyright">
          &copy; <%= global_site_settings['Name'] %> <%= Date.today.year %>
        </span>
        <nav class="footer-navigation">
          <ul>
            <%= nested_menu_items(menu_items: @footer_menu.menu_items) %>
          </ul>
        </nav>
        <span class="site-authorship">
          Site by <%= link_to 'Optimised', 'http://optimised.today' %>
        </span>
      </div>
  </div>
</footer>
