<head>
  <meta name="description" content="<%= @meta_description %>" />
  <meta name="keywords"    content="<%= @meta_tags %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= "#{@title} - " if @title %><%= global_site_settings['Name'] %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <script src="//use.typekit.net/qxw2mie.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
