<%= render 'optimadmin/shared/header/main_title', title: 'Manage Target Groups' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Target Group', object: TargetGroup, path: new_target_group_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @target_groups.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-8 small-4' do 'Title' end %>

    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'target_group', collection: @target_groups, as: :target_group_presenter %>
  <%= paginate @target_groups %>
</div>
